body {
    display: flex;
    justify-content: center;
    background-color: #A5BECC;
    color: #FFFFFF;
}

.container {
    display: inline-block;
    width: 600px;
}

.title-field {
    font-size: 30px;
    color: #243A73;
    margin: 10px;
    margin-left: 0px;
}

.question-box {
    padding: 10px 0px;
    padding-left: 10px;
    border: 1px solid rgba(206, 206, 206, 255);
    border-radius: 7px;
    margin-top: 7px;
    background-color: white;
}

.answer-field {
    margin-top: 5px;
}

.button-submit {
    font: 16px "Courier";
    font-weight: bold;
    margin-top: 10px;
    float:left;
    padding: 10px 30px;
    background-color: #F2EBE9;
    border: none;
    color: #354259;
    border-radius: 5px;

}
